/****
	*	author : hkbharath
	*/
body {
	background: url("../img/background.jpg") no-repeat transparent; 
	padding:0px;
	margin:0px;
	height:100%;
	background-size: cover;
}

a{
	color: #D7BCBC;
	text-decoration:none;
}
a:hover, a:focus{
	color: #D7BCBC;;
	text-decoration:none;
}

.topBar{
	margin : 0px;
	padding:0px;
	width:100%;
	height:30px;
	background:url("../img/top-bar.png") no-repeat scroll 0% 0% transparent;
	background-size:cover;
	float : left;
}

.startContainer{
	margin:15% 0% 0% 6%;
	padding:2% 2%;
	float:left;
}

.startEntity{
	margin:0px;
	padding: 0px 20px;
	font-size:20px;
	color:#D7BCBC;
}

.loginBox{
	padding:1% 8%;
	border: 1px solid grey;
	border-radius:8px;
	width:270px;
	background:url("../img/login-box.png") no-repeat scroll 0% 0%;
	background-size:cover;
	float:left;
	font-size:20px;
	color:#D7BCBC;
}

input.loginInp{
	padding:2% 5%;
	margin: 1% 0px;
	border: 1px solid grey;
	border-radius:5px;
	font-size:14px;
	width:95%;
	background:url("../img/login-input.png") no-repeat scroll 0% 0%;
	background-size:cover;
	color:#D7BCBC;
	float:left;
}


/* edit */

.loginBtn{
	margin:3% 10% 3% 0%;
	padding:3% 6%;
	font-size:16px;
	color: #D7BCBC;
	background:url("../img/login-box.png") no-repeat scroll 0% 0% transparent;
	border-radius:10px;
	border: 1px solid #B3878E;
	float:left;
	text-decoration: none;
	text-align:center;
	vertical-align:middle;
}

.loginBtn:hover, .loginBtn:focus{
    border: 1px solid #501A28;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 30px #A5544B;
}

.headText{
	font-size:16px;
	margin: 0px 10px;
	color:rgba(223,219,211,100);
	text-decoration:none;
	float:left;
}


.setup{
	background:url("../img/admin-icon.png") no-repeat;
	width:16px;
	height:17px;
	margin:2px 15px;
	float:right;
}

.time{
	color:rgba(223,219,211,100);
	width:auto;
	float:right;
}

.profile{
	background:url("../img/user-icon.png") no-repeat;
	width:16px;
	height:17px;
	margin:2px 15px;
	float:right;
}

button{
	display:inline-block;
}

.loginError{
	font-size:12px;
	color: #D7BCBC;
	padding: 2px;
}