.cu_container1, .cu_container2{
	position: absolute;
	overflow: hidden;
}

.cu_super_container1{
	position: absolute;
	overflow: hidden;
}
.cu_element{
	padding: 5px;
	margin: 1%;
	width:90%;
	color: white;
	float: left;
	border-bottom: 2px solid white;
}

img.cu_image {
	float: left;
	margin: 1% 10% 2% 2%;
	width: 20%;
	top: 0;
	left: 0;
}

.cu_info{
	padding: 2% 2% 2% 0%;
	margin: 3% 0% 0% 5%; 
	width: 60%;
	float: left;
	font-size: 16px;
	font-family: alienlang;
}

.cu_name {
	padding: 1%;
	font-size: 30px;
	font-family: alienlang;
	text-align: right ;
	float: right;
}

label.cu_l{
	font-size: 20px;
	margin: 5px 15px 5px 5px ;
	width: 25%;
}

p.cu_p{
	padding: 4px;
	display: inline;
	font-family: gsan;
}

.cu_button{
	float: right;
	margin: 1%;
	padding: 5px 20px;
	background: rgba(1, 124, 133, 0.79);
	border-radius: 5px; 
	cursor: pointer;
	font-family: gsan;
	font-size: 1.2em;
	text-align: center;
}