.ga_wrapper{
	background-color:rgba(0,0,0,0.5) ;
	border:2px #000 solid;
	border-radius:10px;
	padding:3%;
	float:right;
	position: absolute;
	font-family: gsan;
	color:#e1e1e1;
	overflow: hidden;
}

.ga_container1, .ga_container2{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80%;
	float: right;
}

.ga_image{
	float:left;
	margin:2%;
	width:45%;
	cursor: pointer;
	z-index: 100;
}

.ga_header{
	font-family: alienlang;
	font-size: 40px;
	border-bottom: solid 3px white;
	color: white;
	margin-bottom: 15px;
}

.ga_layer{
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.6;
	width:100%;
	height:100%;
}

.ga_loading{
	background: rgba(0,0,0,0.5) url('../images/ajax-loader.gif') no-repeat center center fixed;
}