.sp_container1, .sp_container2{
	position: relative;
	overflow: hidden;
	text-align: center;
}

.sp_container2 .fullImage{
	width:96%;
}

.sp_container1 p{
	font-size: 1.5em;
	font-family: gsan;
	margin: 1% 0%;
	padding: 1% 0%;
	float: left;
	width: 100%;
	text-align: center;
	border-bottom: solid 2px white; 
}

.sp_image_container .sp_image{
	margin: 2% 2%;
	width: 12%;
}

.sp_image_container_big .sp_image{
	width: 19%;
	margin: 2% 3%;
}

.sp_image_container
{
	text-align: center;
	display: inline;
}

.sp_image_container_big
{
	text-align: center;
	margin: 2% 3%;
	display: inline;
}

.sp_load{
	width: 20%;
	margin: 34% 0%;
	z-index: 100;
}