<!DOCTYPE html>
<html ng-app="impetus">
<head>
<meta charset="ISO-8859-1">
<title ng-controller="title">{{pageTitle}}</title>
</head>
<body>
<!-- top bar -->
<div class="topBar" ng-controller="topBar">
	<a href="#" class="headText">
		{{headText}}
	</a>
	<div class="setup" ng-click="showSetup()">
	
	</div>
	<div class="time" ng-click="showcalender()">
		{{time | date:'medium'}}
	</div>
	<div class="profile" ng-click="showProfile()"></div>
</div>

<!-- login box -->
<div ng-view></div>
<!-- footer image -->
<div class="footer">
</div>
<!-- css and js -->
<script src="js/common/angular.js"></script>
<script src="js/common/angular-route.min.js"></script>
<script src="js/common/jquery.js"></script>

<script src="js/appServices.js"></script>
<script src="login/login.ctrl.js"></script>
<script src="js/impetus.js"></script>

<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>
<link href="css/ubuntu.css" type="text/css" rel="stylesheet"></link>
<script type="text/javascript">

</script>
</body>
</html>