/*
 * imp_index.css developed for Impetus15, UVCE
 * developed by Web Design Team IEEE UVCE
 */
 
html{
	background:rgba(1, 1, 2, 1) url('../images/background.png') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	overflow:hidden;
}

@font-face{
	font-family: alienlang;
	src:url(alienleagueexpand.ttf);
}

@font-face{
	font-family: gsan;
	src:url(GeosansLight.ttf);
}

body{
	color: #e0e0e0;
}

.st_loading{
	position: absolute;
	text-align: center;
	padding-top: 15%;
	color: #e1e1e1;
	font-family: alienlang;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.st_loading h1{
	font-size: 5em;
}

.st_loading p {
	font-size: 2.5em;
}
.st_soc_icon_container{
	position:absolute;
	top:50%;
	left:36%;
	padding:1%;
	margin:1%;
}

.st_soc_icon{
	float:left;
	width:10%;
	height:10%;
	margin: 2%;
}

.st_clear{
	clear: both;
}